/******************GENERAL STYLES********************/
/*ANCHOR TAGS STYLE*/
a {
    color: #fcfcfc;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #d72638;
}

/*BODY STYLE*/
body {
    background-color: #fcfcfc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
}

/*HEADING TAGS STYLE*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

/*SECTION TAG STYLE*/
section {
    margin: 50px 0;
    padding: 5% 10%;
}

/*GENERAL CLASS STYLES*/

/*RESIZING H1 STYLE*/
.big-heading {
    font-size: 10rem;
    letter-spacing: 5rem;
    margin: 50px 0;
}

/*RESIZING H2 STYLE*/
.sub-heading {
    letter-spacing: 4px;
    margin: 0 10px;
}

.title-section {
    font-size: 2.5rem;
}

/*STYLES FOR CONTAINERS*/

.responsive-image {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
}

/*******************END OF GENERAL STYLES*****************/

/************************HEADER STYLE*********************/
/*STYLE OF HEADER*/
.header {
    background-image: url(../media/img/development.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    position: relative;
    width: 100%;
}

/*GRADIENT BRACKGROUND WITH FADE*/
.background {
    background: rgb(51, 53, 51);
    background: linear-gradient(180deg, rgba(51, 53, 51, 1) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    position: absolute;
    width: 100%;
}

/*TITLES POSITION PROPERTIES*/
.titles {
    bottom: 100px;
    color: #fcfcfc;
    left: 100px;
    position: absolute;
}

/*APPLY COLOR STYLE SPAN, SON OF H2*/
h2 > span {
    color: #d72638;
}

/*******************END OF HEADER STYLES*********************/

/*******************NAVIGATION BAR STYLES********************/
/*LOGO ISOTYPE STYLES*/
.logo {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 12px;
}

/*LOGO ISOTYPE HOVER PROPERTY*/
.logo:hover {
    color: #fcfcfc;
}

/*NAVBAR STYLE*/
.navbar {
    align-items: center;
    background-color: #333533;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 50px;
    text-align: center;
}

/*UNORDER LIST WITH THE CLASS NAV STYLE */
.nav {
    display: flex;
    margin: 0;
    padding: 0;
}

/*NAV LI (ITEM) PROPERTY*/
.nav-li {
    list-style: none;
    margin: 0 20px;
}

/*****************END OF NAVIGATION BAR STYLES*****************/

/***********************ABOUT US STYLES************************/
/*ABOUT US CONTAINER PROPERTY*/
.about-us {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*ADDING PADDING AND SIZE ON THE DIV SONS*/
.about-us > div {
    padding: 0 5%;
    width: 100%;
}

/*ALIGN THE TITLE*/
.about-us-title {
    border-right: 2px solid;
    text-align: center;
}

/*
RESIZE THE H2 */
.about-us-title .title-section {
    font-size: 4rem;
}


/********************END OF ABOUT US STYLES**********************/

/*************************SERVICIES******************************/
/*SERVICIES CONTAINER*/
/*CARD MARGIN SIDES*/
.card {
    margin: 0 20px;
}

/*ALING CARD HEADER*/
.card-header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*CARD PIC PROPERTIES*/

.crop-circle {
    border-radius: 100%;
    height: 200px;
    position: relative;
    width: 200px;
}

/*CARD BODY STYLES*/
.card-body {
    border-bottom: 5px solid;
    border-bottom-color: #333533;
    border-top: 5px solid;
    border-top-color: #333533;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.tab-link {
    border-bottom: 2px solid transparent;
    color: #333533;
    cursor: pointer;
    display: block;
    margin: 10px 20px;
    padding: 1rem;
    transition: all .3s ease;
}

.active .tab-link {
    border-bottom: 2px solid crimson;
    color: crimson;

}

.contents > div {
    display: none;
    transition: all .5s ease;
}

.contents .active {
    display: flex;
    margin-top: 70px;
}

/***********************END OF SERVICIES************************/

/***********************PORTFOLIO STYLES************************/
/*PORTFOLIO CONTAINER PROPERTY*/
.portfolio {
    background-color: #333533;
    color: #fcfcfc;
}

.container-slider {
    overflow: hidden;
}

.slider {
    display: flex;
    width: 300%;
}

.slide {
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 608px;
    position: relative;
    width: 90%;
}

.slide-bg-one {
    background-image: url(../media/img/screens.jpg);
}

.slide-bg-two {
    background-image: url(../media/img/production-manufacturing.jpg);
}

.slide-bg-three {
    background-image: url(../media/img/our-team.jpg);
}

.info-slide {
    background-color: rgb(51, 53, 51);
    background-color: rgba(51, 53, 51, 0.5);
    bottom: 0;
    box-sizing: border-box;
    color: #fcfcfc;
    left: 0;
    padding: 2% 5%;
    position: absolute;

}

.click-slide:hover {
    color: #d72638;
    transition: all 0.5s ease-in-out;
}

.image-modal {
    left: 50%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.7s ease;
    width: 90%;
}

.image-modal + i {
    background-color: #fcfcfc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.75rem 0.875rem;
    position: absolute;
    right: 2%;
    top: 2%;
}

/***********************END OF PORTFOLIO************************/

/***************************JOBS STYLES************************/

.jobs-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: 608px;
    position: relative;
    width: auto;
}

/*INFO JOBS POSTION AND SIZE*/
.info-jobs {
    background-color: rgb(51, 53, 51);
    background-color: rgba(51, 53, 51, 0.5);
    bottom: 0;
    box-sizing: border-box;
    color: #fcfcfc;
    height: 100%;
    left: 0;
    padding: 2% 5%;
    position: absolute;
    width: 400px;
}

/***************************END OF JOBS************************/

/************************CONTACT STYLES************************/
/*CONTACT STYLE CONTAINER*/
.contact {
    background-image: url("../media/img/screens.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

/*FORM CONTAINER STYLE*/
.form-container {
    background-color: rgb(53, 51, 53);
    background-color: rgba(53, 51, 53, 0.6);
    border-radius: 5px;
    color: #fcfcfc;
    max-width: 60%;
    padding: 50px;
}

/*FORMULARIE DIRECTION PROPERTIES*/
.formularie {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
    background: none;
    border: none;
    border-bottom: 2px solid rgb(215, 38, 56);
    border-bottom: 2px solid rgba(215, 38, 56, 0.5);
    color: #fcfcfc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    outline: none;
    padding: 1rem 0;
    width: 100%;
}

select option {
    color: #333533;
}

.input-group {
    margin-bottom: 2rem;
    position: relative;
}

/*TEXT AREA NO RESIZING*/
textarea {
    resize: none;
}

/*BUTTONS DISPLAY*/
.buttons {
    display: flex;
    justify-content: space-between;
}

/*BTN STYLE*/
.btn {
    background-color: #d72638;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #333533;
    color: #fcfcfc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
    width: 100px;
}

/*HOVER*/
.btn:hover {
    background-color: #ad202e;
}

/*********************END OF CONTACT*******************/

/***************************FOOTER*********************/
/*TOP FOOTER*/
.footer-top {
    background-color: #598392;
    height: 10px;
}

/*MIDDLE FOOTER*/
.footer-middle {
    align-items: center;
    background-color: #242423;
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    text-align: center;
}

i {
    margin: 0 5px;
}

/*SOCIAL DISPLAY*/
.social {
    display: flex;
    flex-direction: row;
}

/*SOCIAL MEDIA LI*/
.social-medias {
    list-style: none;
    margin: 0 20px;
}

/*DISPLAY LINK PHONE*/
.phone-number {
    display: flex;
    margin: 10px 20px;
}

/*FOOTER BOTTOM*/
.footer-bottom {
    background-color: #333533;
    color: #fcfcfc;
    display: flex;
    justify-content: center;
    padding: 1%;
}

/*************************END FOOTER********************/

/*MEDIAS QUERYS*/
@media all and (max-width:1040px) {
    .about-us {
        flex-direction: column;
    }

    .about-us-title {
        border-bottom: 2px solid;
        border-right: none;
    }
}

@media all and (max-width:950px) {

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .nav {
        flex-direction: row;
    }

    .big-heading {
        font-size: 8rem;
        letter-spacing: 2.5rem;
    }

    .sub-heading {
        font-size: 80%;
        letter-spacing: 2px;
    }

    .titles {
        left: 50px;
    }

    .service {
        text-align: center;
    }

    .contents .active {
        flex-direction: column;
    }

    .card {
        margin: 20px 0;
        padding: 0 20%;
    }

    .form-container {
        max-width: 70%;
    }

}

@media all and (max-width: 750px) {
    .big-heading {
        font-size: 5rem;
    }

    .nav {
        flex-direction: column;
    }

    .nav-tabs {
        flex-direction: column;
    }

    .nav-li {
        margin: 10px auto;
    }

    .title-section {
        text-align: center;
    }

    .info-style {
        text-align: center;
    }

    .info-jobs {
        width: 100%;
    }

    .form-container {
        max-width: 90%;
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
    }

    .social {
        flex-direction: column;
    }

    .social-medias {
        margin: 10px;
    }
}
