/******************GENERAL STYLES********************/
/*ANCHOR TAGS STYLE*/
a {
	color: #fcfcfc;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #d72638;
}

/*BODY STYLE*/
body {
	background-color: #fcfcfc;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: lighter;
	margin: 0;
}

/*HEADING TAGS STYLE*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
}

/*I TAG STYEL*/
i {
	margin: 0 5px;
}

/*SECTION TAG STYLE*/
section {
	margin: 50px 0;
	padding: 5% 10%;
}

/*GENERAL CLASS STYLES*/

/*RESIZING H1 STYLE*/
.big-heading {
	font-size: 10rem;
	letter-spacing: 5rem;
	margin: 50px 0;
}

/*RESIZING H2 STYLE*/
.sub-heading {
	letter-spacing: 4px;
	margin: 0 10px;
}

/*RESIZING H3 STYLE*/
.big-subtitle {
	font-size: 2rem;
}

/*STYLES FOR CONTAINERS*/
.father-container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	height: 608px;
	position: relative;
	width: auto;
}

.info-style {
	background-color: rgba(51, 53, 51, 0.5);
	bottom: 0;
	box-sizing: border-box;
	color: #fcfcfc;
	padding: 2% 5%;
}

/*STYLE FOR INPUTS*/
.input-style {
	border: none;
	border-radius: 5px;
	font-family: 'Nunito Sans', sans-serif;
}

.pic-size {
	height: 100%;
	width: 100%;
}

/*******************END OF GENERAL STYLES*****************/

/************************HEADER STYLE*********************/
/*STYLE OF HEADER*/
.header {
	background-image: url(../media/img/development.jpg);
	height: 560px;
	position: relative;
	width: 100%;
}

/*GRADIENT BRACKGROUND WITH FADE*/
.background {
	background: rgb(51, 53, 51);
	background: linear-gradient(180deg, rgba(51, 53, 51, 1) 0%, rgba(255, 255, 255, 0) 100%);
	height: 100%;
	position: absolute;
	width: 100%;
}

/*TITLES POSITION PROPERTIES*/
.titles {
	bottom: 100px;
	color: #fcfcfc;
	left: 100px;
	position: absolute;
}

/*APPLY COLOR STYLE SPAN, SON OF H2*/
h2 > span {
	color: #d72638;
}

/*******************END OF HEADER STYLES*********************/

/*******************NAVIGATION BAR STYLES********************/
/*LOGO ISOTYPE STYLES*/
.logo {
	font-family: 'Jost', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 12px;
}

/*LOGO ISOTYPE HOVER PROPERTY*/
.logo:hover {
	color: #fcfcfc;
}

/*NAVBAR STYLE*/
.navbar {
	align-items: center;
	background-color: #333533;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 50px;
	text-align: center;
}

/*UNORDER LIST WITH THE CLASS NAV STYLE */
.nav {
	display: flex;
	margin: 0;
	padding: 0;
}

/*NAV LI (ITEM) PROPERTY*/
.nav-li {
	list-style: none;
	margin: 0 20px;
}

/*****************END OF NAVIGATION BAR STYLES*****************/

/***********************ABOUT US STYLES************************/
/*ABOUT US CONTAINER PROPERTY*/
.about-us {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/*ADDING PADDING AND SIZE ON THE DIV SONS*/
.about-us > div {
	padding: 0 5%;
	width: 100%;
}

/*ALIGN THE TITLE*/
.about-us-title {
	border-right: 2px solid;
	text-align: center;
}

/*RESIZE THE H2*/
.about-us-title > h2 {
	font-size: 4rem;
}

/********************END OF ABOUT US STYLES**********************/

/*************************SERVICIES******************************/
/*SERVICIES CONTAINER*/
.container-servicies {
	display: flex;
}

/*CARD MARGIN SIDES*/
.card {
	margin: 0 20px;
}

/*ALING CARD HEADER*/
.card-header {
	text-align: center;
}

/*CARD PIC PROPERTIES*/
.card-pic {
	border-radius: 100%;
	box-sizing: border-box;
	height: 200px;
	transition: all 0.1s ease-in-out;
}

.card-pic:hover {
	border: 4px solid #333533;
}

/*CARD BODY STYLES*/
.card-body {
	border-bottom: 5px solid;
	border-bottom-color: #333533;
	border-top: 5px solid;
	border-top-color: #333533;
}

/***********************END OF SERVICIES************************/

/***********************PORTFOLIO STYLES************************/
/*PORFOLIO CONTAINER PROPERTY*/
.portfolio {
	background-color: #333533;
	color: #fcfcfc;
	margin: 50px 0;
}

/*INFO SLIDER POSITION PROPERTY*/
.info-slider {
	bottom: 0;
	left: 0;
	position: absolute;
}

/***********************END OF PORTFOLIO************************/

/***************************JOBS STYLES************************/
/*INFO JOBS POSTION AND SIZE*/
.info-jobs {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	width: 400px;
}

/***************************END OF JOBS************************/

/************************CONTACT STYLES************************/
/*CONTACT STYLE CONTAINER*/
.contact {
	background-image: url("../media/img/screens.jpg");
	background-size: auto 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

/*FORM CONTAINER STYLE*/
.form-container {
	background-color: rgba(53, 51, 53, 0.6);
	border-radius: 5px;
	color: #fcfcfc;
	max-width: 50%;
	padding: 50px;
}

/*FORMULARIE DIRECTION PROPERTIES*/
.formularie {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

/*SIZE OF INPUTS*/
.input {
	height: 30px;
}

/*TEXT AREA NO RESIZING*/
textarea {
	resize: none;
}

/*BUTTONS DISPLAY*/
.buttons {
	display: flex;
	justify-content: space-between;
}

/*BTN STYLE*/
.btn {
	background-color: #d72638;
	border: none;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #333533;
	color: #fcfcfc;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	transition: all 0.5s ease-in-out;
	width: 100px;
}

/*HOVER*/
.btn:hover {
	background-color: #ad202e;
}

/*********************END OF CONTACT*******************/

/***************************FOOTER*********************/
/*TOP FOOTER*/
.footer-top {
	background-color: #598392;
	height: 10px;
}

/*MIDDLE FOOTER*/
.footer-middle {
	align-items: center;
	background-color: #242423;
	color: #fcfcfc;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	text-align: center;
}

/*SOCIAL DISPLAY*/
.social {
	display: flex;
	flex-direction: row;
}

/*SOCIAL MEDIA LI*/
.social-medias {
	list-style: none;
	margin: 0 20px;
}

/*DISPLAY LINK PHONE*/
.phone-number {
	display: flex;
	margin: 10px;
}


/*FOOTER BOTTOM*/
.footer-bottom {
	background-color: #333533;
	color: #fcfcfc;
	display: flex;
	justify-content: center;
	padding: 1%;
}

/*************************END FOOTER********************/

/*MEDIAS QUERYS*/
@media all and (max-width:1040px) {
	.about-us {
		flex-direction: column;
	}

	.about-us-title {
		border-bottom: 2px solid;
		border-right: none;
	}
}

@media all and (max-width:950px) {

	.navbar {
		display: flex;
		flex-direction: column;
	}

	.nav {
		flex-direction: column;
	}

	.nav-li {
		margin: 10px auto;
	}

	.big-heading {
		font-size: 8rem;
		letter-spacing: 2.5rem;
	}

	.sub-heading {
		font-size: 80%;
		letter-spacing: 2px;
	}

	.titles {
		left: 50px;
	}

	.container-servicies {
		flex-direction: column;
	}

	.card {
		margin: 20px 0;
		padding: 0 20%;
	}

	.form-container {
		max-width: 70%;
	}

}

@media all and (max-width: 700px) {
	.big-heading {
		font-size: 5rem;
	}

	.info-style {
		background-color: #333533;
	}

	.info-jobs {
		width: 100%;
	}

	.form-container {
		max-width: 90%;
	}

	.footer-middle {
		display: flex;
		flex-direction: column;
	}

	.pic-size {
		display: none;
	}

	.social {
		flex-direction: column;
	}

	.social-medias {
		margin: 10px;
	}
}
